= f.fields_for :vcard do |vcard|
  = vcard.input :full_name, :input_html => {"data-autofocus" => true}
  = vcard.fields_for :address do |address|
    = address.input :extended_address
    = address.input :street_address
    = address.input :post_office_box
    = address.input :postal_code, :wrapper_html => {:class => 'col1'}
    = address.input :locality, :wrapper_html => {:class => 'col2'}
