- vcard = vcard if defined?(vcard)
- vcard ||= reference.try(:vcard) if defined?(reference)
- vcard ||= @vcard
- vcard ||= resource.try(:vcard) if defined?(resource)
= show_for vcard do |vcard|
  = vcard.attribute :extended_address
  = vcard.attribute :street_address
  = vcard.attribute :post_office_box
  = vcard.attribute :postal_code
  = vcard.attribute :locality
  = vcard.attribute :country_name
